<h1>Find Your Amazing Cocktails Below</h1>

<div class="card-list">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail, class: "a-card" do %>
      <p><%= cocktail.name %></p>
    <% end %>
  <% end %>
</div>
